/* 通用 */

.flex {display: -webkit-flex;display: flex;}

/* 宽度随屏幕改变变化 */
.flex-1 {-webkit-flex: 1;flex: 1;}

/* 垂直水平居中 */
.flex-center {justify-content: center;flex-direction: column;align-items: center;-webkit-justify-content: center;-webkit-flex-direction: column;-webkit-align-items: center;}
.flex-center-1 {justify-content: center;align-items: center;-webkit-justify-content: center;-webkit-align-items: center;}
.flex-center-2 {justify-content: space-between;align-items: center;-webkit-justify-content: space-between;-webkit-align-items: center;}
.flex-start {align-items: flex-start;-webkit-align-items: flex-start;}

/* 水平居中 */
.flex-align-center{justify-content: center;-webkit-justify-content: center;}

/* 垂直居中 */
.flex-ver {-webkit-align-items: center;align-items: center;}

.flex-end {-webkit-align-items: flex-end;align-items: flex-end;}

/* flex 换行 */
.flex-wrap {-webkit-flex-wrap: wrap;flex-wrap: wrap;}

/* flex 容器（设置为flex）内子元素向两边顶齐平分 */
.flex-jcsb {justify-content: space-between;}
.flex-jcsa {justify-content: space-around;}


/* 容器（设置为flex）内子元素靠最后对齐（水平时比较像右浮动） */
.flex-jcfe {justify-content: flex-end;}

/* 容器（设置为flex）内子元素靠最前对齐（水平时比较像左浮动） */
.flex-jcfs {justify-content: flex-start;}

/* 容器（设置为flex）内子元素等高 */
.flex-ais {align-items: stretch;}

/* 容器（设置为flex）内子元素置底 */
.flex-aife {align-items: flex-end;}


/* flex 纵向 */
.flex-col{-webkit-flex-flow: column;flex-flow: column;}
.flex-row{-webkit-flex-flow: row;flex-flow: row;}

.flex-sb{-webkit-justify-content: space-between;justify-content: space-between;}
.flex-sa{-webkit-justify-content: space-around;justify-content: space-around;}


